<a href="https://colab.research.google.com/github/DenisAShmelev/Python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Импортируем нужные библиотеки Pandas и Numpy.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [16]:
df1 = pd.DataFrame({
	"Сочетание": [200, 201, 202, 203, 204, 205],
	"N": [1, 2, 3, 1, 2, 3],
	"Vy": [1, 2, 3, 1, 2, 3],
	"Vz": [1, 2, 3, 1, 2, 3],
	})

Импортируем файл с данными в Google.Диск

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving abc.xlsx to abc.xlsx
User uploaded file "abc.xlsx" with length 30643 bytes

Показываем строки с порядковым индексом со 2 до 4, все столбцы

In [17]:
df1.loc[2 : 4, : ]

   Сочетание  N  Vy  Vz
2        202  3   3   3
3        203  1   1   1
4        204  2   2   2

Перезадаем DataDrame

In [8]:
df1 = pd.DataFrame({
	"N": [1, 2, 3, 1, 2, 3],
	"Vy": [1, 2, 3, 1, 2, 3],
	"Vz": [1, 2, 3, 1, 2, 3],
	}, index = [200, 201, 202, 203, 204, 205])
df1.index.name = "Сочетание"

In [9]:
df1

           N  Vy  Vz
Сочетание
200        1   1   1
201        2   2   2
202        3   3   3
203        1   1   1
204        2   2   2
205        3   3   3

Считываем ранее загруженный файл

In [10]:
df2 = pd.read_excel("abc.xlsx", sheet_name="ert")

Считаем первую строку. Запишем её как заголовки столбцов.

In [22]:
index_columns = df2.loc[0, : ]
index_columns

Unnamed: 0                                                   NaN
Unnamed: 1           Ход штока аутригера без фланца (из чертежа)
Unnamed: 2      Ход штока аутригера с учетом фланца (из чертежа)
Unnamed: 3           Нужный ход штока аутригера (расстояние под
Unnamed: 4                                                   NaN
Unnamed: 5                             Зазор под колесом до пути
Unnamed: 6                       Зазор до реборды колеса от пути
Unnamed: 7                                         Высота рельса
Unnamed: 8                           Зазор под колесом до рельса
Unnamed: 9                                  Смещение колеса вниз
Unnamed: 10    Расстояние между колесом и рельсом в момент ан...
Unnamed: 11    Расстояние между аутригером и мостом в момент ...
Unnamed: 12           Расстояние от аутригера до моста менее чем
Name: 0, dtype: object

Показываем весь DataFrame из считанного файла

In [25]:

df2 = pd.DataFrame(
    
    columns = [index_columns]
)

In [26]:
df2h = df2.head(6)
df2

Empty DataFrame
Columns: [(nan,), (Ход штока аутригера без фланца (из чертежа),), (Ход штока аутригера с учетом фланца (из чертежа),), (Нужный ход штока аутригера (расстояние под ,), (nan,), (Зазор под колесом до пути,), (Зазор до реборды колеса от пути,), (Высота рельса,), (Зазор под колесом до рельса,), (Смещение колеса вниз,), (Расстояние между колесом и рельсом в момент анкеровки,), (Расстояние между аутригером и мостом в момент переезда рамы,), (Расстояние от аутригера до моста менее чем,)]
Index: []